<p>dash works!</p>
<a routerLink="/login">Login</a>
<br>
<code>src/app/dash/dash.component.html</code>
<br>
<a routerLink="/contact">Contact</a>
<br>
<code>src/app/dash/dash.component.html</code>
<br>
<a routerLink="/forgot-password">Forgot Password</a>
<br>
<code>src/app/dash/dash.component.html</code>
<br>
<a routerLink="/register">Register</a>
<br>
<code>src/app/dash/dash.component.html</code>
<br>
<a routerLink="/videos">Videos</a>
<br>
<code>src/app/dash/dash.component.html</code>
<br>
<a routerLink="/gallery">Gallery</a>
<br>